.footer {
    width: 100%;
    &__wrapper {
        display: flex;
        position: relative;
    }
    &__container {
        flex: 0 1 40%;
        background-color: $color_dark;
        color: #fff;
        position: relative;
    }
    &__bg {
        flex: 0 1 60%;
    }
    .arrow__content-link {
        z-index: 9;
        position: absolute;
        top: -4%;
        left: 3%;
        width: 74px;
        height: 74px;
        .footer__arrow-icon {
            transition: all .3s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__logo {
        padding: 50px 0 50px 0px;
    }
    .bold, .item__map-text, .footer__dev_text {
        color: #fff;
    }
    &__column {
        display: flex;
        .column-first {
            padding-right: 55px;
        }
        .column-second {
            padding-right: 85px;
        }
        .menu__item, .footer__menu-item, .footer__contacts-data:not(:last-child) {
            padding-bottom: 15px;
        }
        .menu__link, .nav__menu_link {
            transition: all .3s ease-in-out;
            &:hover {
                color: $color_lgreen;
            }
        }
        .item__map-text {
            text-transform: uppercase;
        }
    }
    &__contacts-phone {
        padding-bottom: 5px;
    }
    &__contacts-phone:last-child {
        padding: 0 0 30px 28px;
    }
    &__contacts_link {
        transition: all .2s ease-in-out;
        &:hover {
            font-weight: 700;
        }
    }
    &__contacts-number {
        color: $color_lgreen;
    }
    &__media {
        &_text {
            padding-bottom: 5px;
        }
        .media__links {
            display: flex;
            gap: 5px;
        }
    }
    .media__item_icon {
        fill: #fff;
    }

    &__info {
        position: absolute;
        left: 5%;
        bottom: 15px;
        display: flex;
        justify-content: space-between;
        line-height: 21px;
        .footer__company {
            @include fz(14);
            font-weight: 400;
            vertical-align: middle;
        }
        .media__item {
            transition: all .2s ease-in-out;
            &:hover {
                .footer__dev_text {
                font-weight: 700;
                }
            }
            &_icon {
                vertical-align: middle;
            }
        }
        .footer__dev_text {
            @include fz(14);
            font-weight: 400;
            line-height: 100%;
            text-transform: uppercase;
            margin-bottom: 5px;
            vertical-align: middle;
        }
    }
    
}
