.goods {
    padding: 0 0 100px;
    &__icons {
        &-wrapper {
            display: flex;
            justify-content: space-around;
            padding-bottom: 85px;
        }
        &-item {
            position: relative;
        }
        &-link {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // При наведении на ссылку меняем цвет svg-картинке
            &:hover {
                .goods__icons-pic {
                    fill: $color_lgreen;
                }
            }
        }
        &-pic {
            height: 110px;
            padding-bottom: 10px;
            fill: #1E2E36;;
            transition: all .3s ease-in-out;
        }
    }
    &__column {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding-bottom: 50px;
    }
    &__item {
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.05);
            .goods__item-about {
                background-color: #44C697;
                .goods-title, .goods__price {
                    color: #fff !important;
                }
            }
        }
        &-link {
            position: relative;
            cursor: pointer;
        }
        &-info {
            position: absolute;
            left: 0;
            top: 10px;
            background-color: #1E2E36;
        }
        &-sale {
            position: absolute;
            left: 0;
            top: 50px;
            background-color: #FF1B1B
        }
        &-about {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            background-color: $color_white;
            transition: all .3s ease-in-out;
            .goods-title, .goods__price {
                transition: all .3s ease-in-out;
            }
        }
        &-prices {
            .price-crossing {
                padding-left: 10px;
                color: #BCBDBB;
                text-decoration: line-through;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
