.home {
    position: relative;
    &__bg {
        padding: 165px 0 0;
        background-position: 50% top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &__wrapper {
        max-width: 462px;
        padding: 75px 25px;
        background-color: $color_white;
        border-left: 15px solid $color_lgreen;
    }
    &__window {
        text-align: center;
        color: $color_dark;
    }
    &__text {
        font-weight: 700;
        @include fz(64);
        line-height: 100%;
        padding-bottom: 40px;
    }
    &__title {
        font-weight: 700;
        @include fz(36);
        line-height: 125%;
        padding-bottom: 10px;
    }
    &__subtitle_text {
        font-weight: 400;
        @include fz(36);
        line-height: 125%;
        padding-bottom: 30px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    &__slider-counter {
        font-weight: 700;
        @include fz(24);
        line-height: 125%;
        padding-bottom: 10px;
        .slider__current {
            @include fz(36);
        }
        .slider__total {
            @include fz(24);
        }
    }
    &__slider-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &__slider-prev, &__slider-next {
        cursor: pointer;
        background-color: $color_white;
        &:hover {
            background-color: $color_dark;
            &::after {
                border-left: 2px solid $color_white;
                border-bottom: 2px solid $color_white;
            }
        }
    }

    .home-arrow {
        cursor: pointer;
        position: absolute;
        bottom: 10vh;
        left: 50%;
        margin: 30px;
        span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 4px solid $color_lgreen;
            border-right: 4px solid $color_lgreen;
            transform: rotate(45deg);
            margin: -15px;
            animation: home__arrow_down 2s infinite;
            &:nth-child(2){
                animation-delay: -0.2s;
            }
            &:nth-child(3){
                animation-delay: -0.4s;
            }
        }
        @keyframes home__arrow_down {
            0%{
                opacity: 0;
                transform: rotate(45deg) translate(-20px,-20px);
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
                transform: rotate(45deg) translate(20px,20px);
            }
        }
    }
    
}