$base_size:16;
@mixin fz($px_size) {
    font-size: calc($px_size/$base_size)+rem;
}

@media screen and (max-width:1875px) {
    .footer {
        &__bg {
            background-position: auto;
            background-size: cover;
        }
        &__wrapper {
            color: #1E2E36;
            background-color: rgb(30, 46, 54, 0.85);
        }
        &__container {
            color: $color_white;
            max-width: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 25% auto;
            gap: 75px;
            padding-top: 50px;
        }
        &__logo {
            padding: 0;
        }
        &__column {
            justify-content: space-between;
            gap: 150px;
            padding-right: 150px;
            .column-first {
                padding-right: 0;
            }
            .column-second {
                padding-right: 0;
            }
        }
        &__info {
            position: relative;
            left: 0;
            justify-content: center;
            align-items: center;
            gap: 150px;
        }
    }
}

@media screen and (max-width:1750px) {
    .advantage {
        .item__link {
            &-title {
                @include fz(34);
            }
            &:hover h4  {
                bottom: 33%;
            }
            &:hover .subtitle  {
                bottom: 5%;
            }
        }
    }
}

@media screen and (max-width:1600px) {
    .header {
        &__logo_symbol {
            width: 270px;
        }
        &__order {
            .header__goods {
                .menu__list {
                    gap: 23px;
                }
            }
        }
        .btn {
            padding: 13px 25px;
        }
    }
    .home {
        &__wrapper {
            padding: 50px 20px;
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(30);
            }
        }
    }
    .goods {
        &__item {
            &-about {
                flex-direction: column;             
            }
        }
    }
    .footer {
        &__column {
            gap: 75px;
            padding-right: 75px;
        }
    }
}

@media screen and (max-width:1450px) {
    .advantage {
        .item__link {
            &-title {
                @include fz(30);
            }
            &:hover h4  {
                bottom: 65%;
            }
            &:hover .subtitle  {
                bottom: 5%;
            }
        }
    }
    .about {
        &__wrapper {
            top: 20%;
            padding: 20px 10px 20px 10px;
            background-color: rgba(255, 255, 255, 0.8);
        }
        &__article_text {
            @include fz(17);
            &:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
    .contacts {
        .item-title {
            @include fz(32);
        }
        &__wrapper {
            max-width: 480px;
            padding: 20px 0 20px 30px;
            background-color: rgba(255, 255, 255, 0.8);
        } 
        &__window {
            &_title {
                padding-bottom: 15px;
            }
        }
        .form-row {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 10px;  
        }
        &__field {
            padding-bottom: 10px;
        }
        &__button {
            padding-bottom: 15px;
        }
    }
    .footer {
        &__logo_symbol {
            max-width: 290px;
        }
        &__container {
            grid-template-columns: 30% auto;
            gap: 50px;
        }
        &__column {
            gap: 50px;
            padding-right: 50px;
        }
    }
}

@media screen and (max-width:1360px) {
    .header {
        &__content {
            @include fz(17);
        }
        .nav__menu ul {
            gap: 14px;
        }
        &__contacts {
            gap: 30px;
        }
        .media__item_icon {
            width: 38px;
            height: 38px;
        }
        &__logo_symbol {
            width: 230px;
        }
        &__order {
            .header__goods {
                .menu__list {
                    gap: 18px;
                    .menu__link {
                        &::after {
                            top: 25%;
                            right: -10px;
                        }
                    }
                }
            }
            .header__service {
                gap: 20px;
            }
        }
        .btn {
            padding: 12px 15px;
            @include fz(17);
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(27);
            }
            &-subtitle {
                @include fz(16);
            }
        }
    }
}

@media screen and (max-width:1230px) {
    .header {
        &__content {
            @include fz(16);
        }
        &__contacts {
            gap: 20px;
        }
        .nav__menu ul {
            gap: 12px;
        }
        &__logo_symbol {
            width: 209px;
        }
        .btn {
            padding: 12px 10px;
            @include fz(16);
        }
    }
    .header.fixed_header {
        .header__logo_symbol {
            width: 209px;
            height: 50px;
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(25);
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 15px 0 15px 30px;
            top: 26%;
        }
    }
    .footer {
        &__container {
            gap: 30px;
        }
        &__column {
            gap: 30px;
            padding-right: 30px;
        }
    }

}

@media screen and (max-width:1140px) {
    .header {
        height: 60px;
        &__logo_symbol {
            width: 219px;
            height: 50px;
        }
        &__menu, &__goods, &__contacts,
        .service__button, .basket__text {
            display: none;
        }
        .hamburger__menu {
            display: block;
        }
        &__content::after {
            content: none;
        }
        &__main {
            display: block;
        }
        &__order {
            justify-content: center;
        }
        &__block {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            position: relative;
        }
        .header__logo {
            padding-top: 5px;
        }
        .header__service {
            padding-top: 13px;
            position: absolute;
            top: 0;
            right: 80px;
            .service__basket {
                padding-bottom: 0px;
            }
        }
        .basket__icon-pic {
            width: 33px;
            height: 34px;
        }
        
    }
    .header.fixed_header {
        height: 60px;
        .header__logo {
            padding-top: 5px;
        }
        .header__logo_symbol {
            width: 219px;
        }
        .header__service {
            padding-top: 13px;
        }
    }
    .home {
        &__bg {
            padding: 60px 0 0;
        }
    }
    .advantage {
        padding: 75px 0;
        .item__link {
            &-title {
                @include fz(22);
            }
        }
    }
    .goods-window {
        @include fz(16);
    }
    .goods-title {
        @include fz(22);
    }
    .goods {
        padding: 0 0 75px;
        &__column {
            gap: 30px;
        }
        &__item {
            &:hover {
                transform: scale(1.03);
            }
        }
    }
    .about {
        padding: 0 0 75px;
    }
    .contacts {
        padding: 0 0 75px;
    }
    .footer {
        &__logo_symbol {
            max-width: 260px;
        }
        &__container {
            grid-template-columns: 30% auto;
            gap: 20px;
        }
        &__column {
            gap: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width:1024px) {
    .goods {
        &__column {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }
    .about {
        &__bg {
            max-width: 100%;
        }
        &__wrapper {
            top: 20%;
            padding: 10px;
            background-color: rgba(81, 77, 77, 0.75);
            color: $color_white;
        }
        &__article_text {
            @include fz(17);
            &:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
    .contacts {
        &__bg {
            max-width: 100%;
        }
        &__wrapper {
            padding: 15px;
            top: 22.8%;
        }
        &__title {
            @include fz(32);
            padding-bottom: 10px;
        }
        &__subtitle {
            @include fz(17);
        }
    }

}

@media screen and (max-width:980px) {
    .footer {
        &__container {
            grid-template-columns: auto;
            padding-top: 50px;
        }
        &__column {
            padding-right: 0;
        }
        &__info {
            gap: 75px;
        }
        
    }
}

@media screen and (max-width:768px) {
    .title {
        @include fz(44);
        padding-bottom: 40px;
    }
    .home {
        &__wrapper {
            max-width: 400px;
            padding: 25px 15px;
            background-color: rgba(255, 255, 255, 0.75);
        }
        &__text {
            @include fz(58);
            padding-bottom: 30px;
        }
        &__title {
            @include fz(34);
        }
        &__subtitle_text {
            @include fz(32);
            padding-bottom: 20px;
        }
        &__button {
            padding-bottom: 20px;
        }
        &__slider-counter {
            @include fz(22);
            .slider__current {
                @include fz(32);
            }
            .slider__total {
                @include fz(22);
            }
        }
    }
    .goods {
        padding: 0 0 50px;
        &__column {
            gap: 20px;
            padding-bottom: 40px;
        }
        &__item {
            &:hover {
                transform: none;
            }
        }
        &__icons {
            &-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                padding-bottom: 40px;
            }
        }
    }
    .about {
        padding: 0 0 50px;
        .title {
            padding-bottom: 10px;
        }
        &__wrapper {
            position: relative;
            top: 0%;
            left: 0%;
            z-index: 1;
            max-width: 100%;
            padding: 20px 0;
            background-color: rgba(255, 255, 255);
            border-right: none;
            color: $color_dark;
        }
        &__article_text {
            @include fz(16);
        }
    }
    .contacts {
        padding: 0 0 50px;
        &__wrapper {
            position: relative;
            top: 0%;
            left: 0%;
            z-index: 1;
            max-width: 100%;
            background-color: rgba(255, 255, 255);
            border-left: none;
            // color: $color_dark;
        }
        &__subtitle {
            width: 100%;
        }
    }
}

@media screen and (max-width:698px) {
    .advantage {
        padding: 50px 0;
        .item__link {
            &-title {
                @include fz(36);
            }
            &-subtitle {
                @include fz(18);
            }
            &:hover h4  {
                bottom: 25%;
            }
            &:hover .subtitle  {
                bottom: 5%;
            }
        }
    }
}


@media screen and (max-width:649px) {
    .home {
        &__bg {
            background-position: 75% top;
        }
        &__wrapper {
            max-width: 360px;
            padding: 20px 10px;
        }
    }
    .goods {
        &__column {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            &-about {
                flex-direction: row;             
            }
        }
    }
    .footer {
        &__container {
            padding-top: 40px;
        }
        &__column {
            flex-direction: column;
            gap: 30px;
            padding-bottom: 75px;
        }
        &__info {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media screen and (max-width:599px) {
    .mobile__menu {
        .ey-dropdown {
            &__menu {
                left: 30%;
            }
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(34);
            }
            &-subtitle {
                @include fz(16);
            }
            &:hover h4  {
                bottom: 35%;
            }
        }
    }
}

@media screen and (max-width:499px) {
    .modal__callback {
        .callback__content {
            max-width: 285px;
            padding: 20px;
        }
        .callback__button {
            .btn {
                padding: 12px 40px;
            }
        }
    }
    .home {
        .home-arrow {
            display: none;
        }
    }
}

@media screen and (max-width:449px) {
    .title {
        @include fz(42);
        padding-bottom: 30px;
    }
    .btn {
        padding: 12px 40px;
        @include fz(17);
    }
    .mobile__menu {
        .ey-dropdown {
            &__menu {
                left: 15%;
                &:after {
                    left: 40%;
                }
            }
        }
    }
    .header {
        &__logo_symbol {
            width: 179px;
        }
        .basket__icon-pic {
            width: 29px;
            height: 28px;
        }
        .header__service {
            right: 65px;
        }
    }
    .header.fixed_header {
        .header__logo_symbol {
            width: 179px;
        }
    }
    .home {
        &__wrapper {
            max-width: 300px;
            padding: 15px 10px;
        }
        &__text {
            @include fz(42);
            padding-bottom: 20px;
        }
        &__title {
            @include fz(32);
        }
        &__subtitle_text {
            @include fz(26);
            padding-bottom: 20px;
        }
        &__button {
            padding-bottom: 20px;
        }
        &__slider-counter {
            @include fz(20);
            .slider__current {
                @include fz(28);
            }
            .slider__total {
                @include fz(20);
            }
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(30);
            }
            &:hover h4  {
                bottom: 50%;
            }
        }
    }
    .goods {
        &__icons {
            &-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &__column {
            padding-bottom: 30px;
        }
        &__item {
            &-about {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    .footer {
        &__info {
            text-align: center;
        }
    }
}

@media screen and (max-width:379px) {
    .mobile__menu {
        .ey-dropdown {
            &__menu {
                left: 5%;
                &:after {
                    left: 45%;
                }
            }
        }
    }
    .advantage {
        .item__link {
            &-title {
                @include fz(26);
            }
            &:hover h4  {
                bottom: 60%;
            }
        }
    }
}




@media screen and (max-height:799px) {
    .home {
        &__wrapper {
            padding: 30px 20px;
        }
    }
}
@media screen and (max-height:699px) {
    .home {
        &__wrapper {
            background-color: rgba(255, 255, 255, 0.75);
            padding: 10px 10px;
        }
        &__text {
            @include fz(60);
            padding-bottom: 15px;
        }
        &__title {
            @include fz(34);
        }
        &__subtitle_text {
            @include fz(28);
            padding-bottom: 15px;
        }
        &__button {
            padding-bottom: 15px;
        }
    }
}
@media screen and (max-height:599px) {
    .home {
        &__wrapper {
            max-width: 540px;
        }
        &__text {
            @include fz(50);
        }
        &__title {
            @include fz(30);
        }
        &__subtitle_text {
            @include fz(24);
        }
        &__slider-counter {
            @include fz(22);
            .slider__current {
                @include fz(32);
            }
            .slider__total {
                @include fz(22);
            }
        }
        .home-arrow {
            display: none;
        }
    }
}

@media screen and (max-height:399px) {
    .home {
        .home {
            &__text {
                @include fz(44);
                padding-bottom: 5px;
            }
            &__title {
                @include fz(30);
                padding-bottom: 5px;
            }
            &__subtitle_text {
                @include fz(24);
            }
            &__button {
                padding-bottom: 5px;
            }
            &__slider-counter {
                @include fz(20);
                padding-bottom: 5px;
                .slider__current {
                    @include fz(30);
                }
                .slider__total {
                    @include fz(20);
                }
            }
        }
    }
}