*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $color_white;
}

img {
    vertical-align: top;
    // height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

body {
    font-family: ProximaNova;
    font-size: 1rem;
    color: $color_dark;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
// Change text highlight color
::selection {background: $color_lgreen;}
::-moz-selection {background: $color_lgreen;}
::-webkit-selection {background: $color_lgreen;}

.container {
    width: 90%;
    max-width: 1818px;
    margin: 0 auto;
}

// Отключить округление элемента ввода iPhone / Safari
input {
    // border-radius: 0;
    -webkit-appearance: none;
}

// Вынуждаем path унаследовать цвет, чтобы далее их можно было переписывать
.goods__icons_svg path, .icons__sprite-social path, .icons__sprite-phone path, 
.footer__arrow-icon path, .media__item_icon path {
    fill: inherit;
}
.hide {
    display: none;
}