@font-face {
    font-family: "ProximaNova";
    src: url(ProximaNova-Regular.woff) format('woff');
    font-style: normal; 
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url(ProximaNova-Bold.woff) format('woff');
    font-style: normal; 
    font-weight: 700;
    font-display: swap;
}